
.image{
    position:abslute;
    max-height:100vh;
    width:100%;
    filter: blur(2px);
    
}

.content{
    position:absolute;
    width:100%;
    height:100%;
    top:8%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    color:white;
    line-height: 0.5;
}